page-statue {
  ion-buttons button {
    background: transparent;
  }
  ion-icon {
    color: white;
  }
  ion-content {
    #statue-markdown {
      text-align: left;
    }
    ion-col {
      text-align: center;
      font-weight: normal;
    }
    ion-col.section_text {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    ion-item {
      color: none;
    }
    ion-list {
      p {
        text-align: center;
      }
    }
  }
  ion-footer {
    button {
      background-color: white;
    }
  }
  button.bookmark {
    right: 100%;
  }
  ion-icon[name*="ios-arrow-back"] {
    float: left;
  }
  ion-icon[name*="ios-arrow-forward"] {
    float: right;
  }
  #bottom-toolbar {
    .toolbar-background {
      background: white;
    }
  }
  .text-overflow-center {
    display: flex;
    justify-content: center;
  }
}