<ion-header>
  <ion-navbar>
    <ion-title>
      {{section.title_text}}
    </ion-title>
    <ion-buttons end>
      <button icon-only ion-button (click)="shareStatue()" style="float: left;">
        <ion-icon name="share-alt"></ion-icon>
      </button>
      <button icon-only ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col>
      <b> &#167;{{section.chapter}}-{{section.section}}&nbsp;{{section.section_text}} </b>
    </ion-col>
  </ion-row>
  <div id="statue-markdown" class="show-list-numbers-and-dots">
    <p *ngFor="let txt of section.allTexts" [innerHTML]="sanitize(txt)">
      {{txt}}
    </p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar id="bottom-toolbar">
    <ion-buttons left>
      <button icon-only (tap)="movePrev()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="ios-bookmark-outline" *ngIf="!section.bookmarked" (tap)="addToBookmark()"></ion-icon>
      <ion-icon name="ios-bookmark" *ngIf="section.bookmarked" (tap)="removeFromBookmark()"></ion-icon>
    </ion-title>
    <ion-buttons right>
      <button icon-only (tap)="moveNext()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>