page-statue {
  button.bookmark{
    right: 100%;
  }

  #bottom-toolbar {		
 	  .toolbar-background {		
 	  	background: white;		
 	  }		
   }

   .text-overflow-center {
	display: flex; 
	justify-content: center;
   }
}
