page-division {
    button {
        background: transparent;
    }
    ion-icon {
        color: white;
    }
    ion-content {
        ion-col {
            text-align: center;
            font-weight: normal;
        }
        ion-item {
            color: none;
        }
    }
}
