page-bookmarks {
	ion-col.section_text {
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.title.title-md {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		text-align: center;
	}
}
