<ion-header>
  <ion-navbar>
    <ion-title>
      Chapter {{chapter.number}}&nbsp;-&nbsp;{{chapter.text}}
    </ion-title>
    <ion-buttons end>
      <button icon-only ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list id="section-list">
    <ion-row>
      <ion-col text-center>
        <h5> Sections </h5>
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let sec of sections;let idx=index" (tap)="openSection(sec,idx)">
      <ion-row>
        <ion-col *ngIf="hasSections" col-11 class="section_text">
          &#167;{{sec.chapter}}-{{sec.section}}&nbsp;{{sec.section_text}}
        </ion-col>
        <ion-col col-1>
          <ion-icon name="ios-bookmark-outline" *ngIf="!sec.bookmarked"></ion-icon>
          <ion-icon name="ios-bookmark" style="color:#454545;" *ngIf="sec.bookmarked"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <p *ngIf="!hasSections">
      There are no corresponding sections because chapter {{chapter.number}} has been repealed.
    </p>
    <p *ngIf="loadingSections">
      Loading Sections...
    </p>
  </ion-list>
</ion-content>