page-chapter {
    button {
        background: transparent;
    }
    ion-icon {
        color: white;
    }
    ion-content {
        ion-col {
            text-align: center;
            font-weight: normal;
        }
        ion-item {
            color: none;
        }
    }
    ion-footer {
        button {
          background-color: white;
        }
      }
    #bottom-toolbar {
        .toolbar-background {
          background: white;
        }
      }
}
